{{*annotate}}

{{#*inline "dump_context"}}
  {{#if_object this}}
      <ul>
          {{#each this}}
              <li>
                  {{@key}}: {{>dump_context}}
              </li>
          {{/each}}
      </ul>
  {{/if_object}}
  {{#if_array this}}
      {{#each this}}
          <li> {{@index}}: {{>dump_context}} </li>
      {{/each}}
  {{/if_array}}
  {{#if_string this}} "{{this}}" {{/if_string}}
  {{#if_number this}} {{this}} {{/if_number}}
{{/inline}}

{{#*inline "input"}}
  <div class="input">
  <label for="{{field.@name}}">{{label}}</label>
  <input name="{{field.@name}}" value="{{field.value}}" {{#if type}} type="{{type}}" {{/if}} />
  {{#if field.msg}}
    <div class="error">
      {{field.msg}}
    </div>
  {{/if}}
  </div>
{{/inline}}

{{#*inline "login_form"}}
  <form method="post" action="/login">
    {{#with site.login}}
      {{>input label="Name" field=name}}
      {{>input label="Password" field=password type="password"}}
      {{>input field=redirect type="hidden"}}
    {{/with}}
    <input type="submit"/>
  </form>
{{/inline}}