{{*annotate}}

{{#*inline "dump_context"}}
  {{#if_object this}}
      <ul>
          {{#each this}}
              <li>
                  {{@key}}: {{>dump_context}}
              </li>
          {{/each}}
      </ul>
  {{else}}
    {{#if_array this}}
        {{#each this}}
            <li> {{@index}}: {{>dump_context}} </li>
        {{/each}}
    {{else}}
      {{#if_string this}} 
        "{{this}}"
      {{else}}
        {{#if_number this}} 
          {{this}} 
        {{else}}
          {{#if_boolean this}}
            {{this}}
          {{else}}
            {{#if_null this}}
              Null
            {{else}}
              Unknown type
            {{/if_null}}
          {{/if_boolean}}
        {{/if_number}}
      {{/if_string}}
    {{/if_array}}
  {{/if_object}}
{{/inline}}

{{#*inline "input"}}
  <div class="input">
  <label for="{{field.@name}}">{{label}}</label>
  <input name="{{field.@name}}" value="{{field.value}}" {{#if type}} type="{{type}}" {{/if}} />
  {{#if field.msg}}
    <div class="error">
      {{field.msg}}
    </div>
  {{/if}}
  </div>
{{/inline}}

{{#*inline "login_form"}}
  {{#if session.logged_in}}
  <div>
    Logged as {{session.user_name}}
  </div>
  {{else}}
    <form method="post" action="/login">
      {{#with site.login}}
        {{>input label="Name" field=name}}
        {{>input label="Password" field=password type="password"}}
        {{>input field=redirect type="hidden"}}
      {{/with}}
      <input type="submit"/>
    </form>
  {{/if}}
{{/inline}}